CLEARML_WEB_HOST=http://localhost:18080
CLEARML_API_HOST=http://localhost:8008
CLEARML_FILES_HOST=http://localhost:8081

CLEARML_PROJECT=mlops-aith-2026-kachaev
CLEARML_QUEUE=students
CLEARML_DATASET_NAME=sentiment_texts
CLEARML_DATASET_VERSION=1.0.0

CLEARML_SERVING_URL=http://localhost:8090/serve/sentiment
